.DS_Store
__pycache__/
*.pyc
.env

backend/data/
.pytest_cache/
backend/wheelhouse/*
!backend/wheelhouse/.gitkeep

node_modules/
# Prebuilt UI for offline docker builds (created by scripts/prepare-offline-build.sh)
frontend/dist/

